@import url(//db.onlinewebfonts.com/c/6c02f15fdbc9dd7c482b52b06d8e0a6c?family=Super+Mario+256);

@font-face {
  font-family: "supermario";
  src: url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.eot");
  src: url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/6c02f15fdbc9dd7c482b52b06d8e0a6c.svg#Super Mario 256") format("svg");
}

#app {
  font-family: supermario;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: yellow;
  -webkit-text-stroke: 1px black;
  margin-top: 10px;
  font-size: x-large;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.center-title {
  flex: 1 1 auto;
}

.chart {
  padding: 20px;
  max-width: 400px;
}

.nrform {
  margin-bottom: 2rem;
}

.button {
  background-color: rgb(204, 229, 255);
  color: cornflowerblue;
  font-family: supermario;
  padding: 3px;
  padding-top: 9px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: x-large;
  border-radius: 12px;
  margin: 4px;
}

.input {
  border: 1px solid black;
  color: red;
  background-color: #ffcccc;
  border-color: #ff3333;
}

.nrbutton {
  margin-bottom: 10px;
  border-color: #0000cc;
}

.pulsate {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
